<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Logs</title>
</head>
<body>
    <div class="container">
        <h2>Logs</h2>
        <br />
        <div class="row">
            <div class="spinner hidden" id="loading-logs">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <div id="logs">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Filtering</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-inline">
                            <label for="input-log-search">Keyword:</label>&nbsp;
                            <input id="input-log-search" class="form-control" type="text" placeholder="Enter search term" />&nbsp;
                            <label for="select-application">Application:</label>&nbsp;
                            <select id="select-application" class="form-control">
                                <option value="" disabled selected>Select an application</option>
                            </select>&nbsp;
                            <button id="button-clear-search" class="btn btn-danger"><span class="fa fa-times"></span></button>
                        </div>
                    </div>
                </div>
                <table id="table-log" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Severity</th>
                            <th>Priority</th>
                            <th>Timestamp</th>
                            <th>Auth User</th>
                            <th>LogID</th>
                            <th>Message</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="no-logs" class="hidden">
                <h3><span class="fa fa-exclamation-triangle"></span> There are no logs</h3>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts{
    @Scripts.Render("~/bundles/log");
}