@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CS470 Capstone</h1>
    <p class="lead">CS470 Capstone - Homepage.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Secondary Heading 1</h2>
        <p>
            Text to follow...
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Secondary Heading 2</h2>
        <p>More text to follow...</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Another Secondary Heading</h2>
        <p>Even more text...</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>

<div class="row">
    <div id="hello"></div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/home");    
}