<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <table id="table-configuration" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Application</th>
                        <th>Key</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>
</html>

@section Scripts{
    @Scripts.Render("~/bundles/config");
}